.navfx{
	position: fixed;
}

.navbar{
	border-radius: 0;
}

.logo{
	font-family:  sans-serif;
	font-size: 15px;

	}


.popover{
	
position: relative;
height: 320px;
width:500px;
max-width: none;
background-color: #f8f8f8;
position: relative;


}

.prof a:hover{
	color: orange;
}


.quote {

	text-align: center;
	font-weight: bolder;
	color: #7d3c98;
	font-size: 30px;
	 
}
.q11{
	 font-family: Helvetica;
	  text-align: center;
	  font-size: 20px;
	  color: black;
	  padding: 10px;
	  background-color: #f3c5bc;


}
.right{

	position: absolute;
	right: 0px;
	top: 0px;
}

h4{
	  font-family: Helvetica;
	  text-align: center;
	  font-size: 200px;
	  font-weight: bold;


}



h1{
	text-align: center;
	font-family: : Helvetica;
	font-size: 48px;
    border: 25px ;
    padding: 10px;
    margin: 2px;
    font-weight: bolder;
}
h2{
	
	text-align: middle;
	padding:20px;
	font-size: 32px;
	font-family: Helvetica;
	font-weight: bold;
	}
h3{
	
	text-align: center;
	padding:10px;
	font-size: 25px;
	font-family: Helvetica;
	font-weight: bold;
	
	}
p{
	font-size: 15;
	padding: 10px;
	text-align:left;
	font-family: arial;
}
body {
	margin: 0;
	background-color:#fdfefe;
	



	}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
.hed2{

	text-align: center;
	padding:10px;
	font-size: 32px;
	color: gray;
	font-family: Helvetica;
	
	font-style: italic;
}